@font-face {
    font-family: "LiberationSans";
    src: url("/fonts/LiberationSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LiberationSans";
    src: url("/fonts/LiberationSans-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "LiberationSans";
    src: url("/fonts/LiberationSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "LiberationSans";
    src: url("/fonts/LiberationSans-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}