body {
    background-color: #1b1b1f;
    color: white;
    margin: 0px !important;
    font-family: sans-serif;
}

.imgSlot {
    margin: auto;
    align-items: middle;
    display: flex;
}

.imgSlot * {
    display: inline-block;
    margin: 0px;
}

.logo {
    height: 60px;
    width: 265px;
}

.topBar {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    position: fixed;
    top: 0px;
    height: var(--topbar-height);
    border-bottom: 1px solid black;
    max-width: 100vw;
    width: 100vw;
    background-color: #1a1b1e;
    z-index: 110;
    height: 60px;
}

.slot {
    margin-top: 60px;
    margin: 10px;
}



a {
    color: #2795e4;
}

a:visited {
    color: rgb(180, 135, 252);
}


details>a {
    margin-bottom: 5px;
    margin-left: 15px;

}

details {
    margin-top: 10px;
}

summary:hover {
    cursor: pointer;
}

.bottom {
    position: fixed;
    bottom: 0;
    width: 170px;
    margin-left: 24px;
}



ol {
    list-style: none;
    counter-reset: my-awesome-counter;
}

ol li {
    counter-increment: my-awesome-counter;
}

ol li::before {
    content: counter(my-awesome-counter) ". ";
    color: white;
    font-weight: bold;
}


li {
    color: #e4e4e4
}

.bottomPictures {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 20px;
}