#openSidebarMenu:checked~.sidenav {
    display: none !important;
}

#openSidebarMenu~.sidenav {
    display: block;
}


#openSidebarMenu:checked ~ #firstCollapse {
    display: none ;
}

#openSidebarMenu ~ #firstCollapse {
    display:block;
}

#openSidebarMenu:checked~#secondCollapse {
    display: block;
}

#openSidebarMenu~#secondCollapse {
    display:none ;
}


#secondCollapse {
    font-weight:900;
    font-size: 26px;
    margin-left: 10px;

    user-select: none;
    cursor: pointer;
}

#firstCollapse {
    font-weight: 600;
    font-size: 26px;
    margin-left: 10px;

    user-select: none;
    cursor: pointer;
}

@media screen and (max-width: 1454px) {
    #openSidebarMenu:checked~.sidenav {
        display: block !important;
    }

    #openSidebarMenu~.sidenav {
        display: none !important;
    }
}

.sidenav {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 10px;
}

.sidenav > details > a:visited {
    color: #63ade2 !important;

}

.sidenav > details > a{
    text-decoration: none;
}
